body {
    height: 100vh;

}
nav {
    background-color: pink;
    height: 10vh;
    color:gray;
    text-align: center;
    font-size: 1.7em;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

button {
    color:green;
    font-size: 1.3em;
    margin-right: 10px;
    font-weight: bold;
    background-color: aliceblue;
}

.disabled {
    color:dark grey;
}

main {
    height: 80vh;
    display: flex;
}

.card {
    border:1px solid;
    height: 20vh;
    width: 20vw;
    text-align: center;
    font-size: 3.5em;
}
.board {
    background-color: gainsboro;
    width: 81.3vw;
    height: 81.3vh;
   
}
.score-board {
    background-color: hotpink;
    height: 81.4vh;
    width: 25vw;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flipped {
    background-color: purple;
}

/* .card-flip {
    transform: rotateY( 180deg ) ;
    transition: transform 0.8s;
  } */

/* .blue {
    background-color: cornflowerblue;
}
.orange {
    background-color: orangered;
} */
/* .blink-bg {
    animation: blinkingBackground 2s infinite;
	}
	@keyframes blinkingBackground{
		0%		{ background-color: purple;}
		25%		{ background-color: beige;}
		50%		{ background-color: purple;}
		75%		{ background-color: beige;}
		100%	{ background-color: purple;}}
 */


